* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(148, 44, 44);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  border-radius: 25px;
  border: 1px solid black;
}

label {
  color: rgb(148, 44, 44);
}

input {
  border-radius: 10px;
}

select {
  padding: 7px 0;
  border-radius: 10px;
  border: 2px solid black;
}

.btn {
  background-color: lightgrey;
  color: rgb(148, 44, 44);
  border: 1px solid black;
}